version: '3.8'

services:
  clearing-house:
    image: ghcr.io/bourse-numerique-d-afrique/server-clearing-house:${VERSION:-latest}
    restart: unless-stopped
    ports:
      - "8500:8500"
      - "5705:5705"
      - "5706:5706"
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - GQL_SERVER_PORT=8500
      - GQL_HOST=0.0.0.0
      - GQL_PORT=8500
      - TOKEN_ISSUER=${TOKEN_ISSUER}
      - JWT_SECRET=${JWT_SECRET}
      - MTN_URL=${MTN_URL}
      - MTN_COLLECTION_PRIMARY_KEY=${MTN_COLLECTION_PRIMARY_KEY}
      - MTN_COLLECTION_SECONDARY_KEY=${MTN_COLLECTION_SECONDARY_KEY}
      - MTN_DISBURSEMENT_PRIMARY_KEY=${MTN_DISBURSEMENT_PRIMARY_KEY}
      - MTN_DISBURSEMENT_SECONDARY_KEY=${MTN_DISBURSEMENT_SECONDARY_KEY}
      - MTN_WEBHOOK_HOST=${MTN_WEBHOOK_HOST}
      - MTN_SERVER_CALLBACK_PORT=5705
      - AIRTEL_CLIENT_ID=${AIRTEL_CLIENT_ID}
      - AIRTEL_CLIENT_SECRET=${AIRTEL_CLIENT_SECRET}
      - AIRTEL_ENVIRONMENT=${AIRTEL_ENVIRONMENT}
      - AIRTEL_CALLBACK_URL=${AIRTEL_CALLBACK_URL}
      - AIRTEL_DISBURSEMENT_PIN=${AIRTEL_DISBURSEMENT_PIN}
      - AIRTEL_SERVER_CALLBACK_PORT=5706
      - PROMETHEUS_PORT=9090
      - PROMETHEUS_ENABLED=${PROMETHEUS_ENABLED:-false}
    networks:
      - clearing-house-network

networks:
  clearing-house-network:
    driver: bridge
